.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env
# .env.*

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# Django/Flask/Starlette/FastAPI stuff:
instance/
.webassets-cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pydantic / Graphene auto schema cache
*.graphql
schema.json

# VS Code
.vscode/

# MacOS / Windows
.DS_Store
Thumbs.db

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Local SQLite
*.sqlite3
*.db

# Docker
*.pid
docker-compose.override.yml

# Build
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Optional: If using Jupyter
.ipynb_checkpoints/

site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store